src/main/mule/drools-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bd540e0b-0f60-44fe-9d33-c176a5827250" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="drools-exampleFlow" doc:id="d544ce83-d6d6-41d5-a0d9-cfb6af089540" >
		<http:listener doc:name="Listener" doc:id="0d88ede3-b2c4-4fe9-8a94-1f3cb1e160d0" config-ref="HTTP_Listener_config" path="/drools-test" allowedMethods="POST" outputMimeType="application/json"/>
		<ee:transform doc:name="Transform Message" doc:id="81815fdf-2f64-4015-85ca-422b86309eda" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	jobCost: payload.jobCost as Number,
	jobDateTime: payload.jobDateTime,
	jobLocation: payload.jobLocation,
	jobName: payload.jobName,
	jobOwner: payload.jobOwner,
	jobStatus: payload.jobStatus,
	jobType: payload.jobType
} as Object {
	class : "com.drools.example.Job"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value='#[payload
as Object {
	class : "com.drools.example.Job"
}]' doc:name="Set Variable" doc:id="88cce3e3-3373-4c8f-ace3-280467feb78b" variableName="flowJob" mimeType="application/java"/>
		<java:invoke-static doc:name="Invoke static" doc:id="b7ddcbd9-8d9a-43fb-aa72-bf0205dc1f65" class="com.drools.example.RulesEngine" method="executeJobRules(Job)">
			<java:args ><![CDATA[#[{
	arg0 : vars.flowJob
}]]]></java:args>
		</java:invoke-static>
		<ee:transform doc:name="Transform Message" doc:id="e271d4aa-4f8b-4ab1-a65a-0e07060c7892" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	jobName: vars.flowJob.jobName as String,
	jobType: vars.flowJob.jobType as String,
	jobLocation: vars.flowJob.jobLocation as String,
	jobDateTime: vars.flowJob.jobDateTime as String,
	jobCost: vars.flowJob.jobCost as String,
	jobOwner: vars.flowJob.jobOwner as String,
	jobStatus: vars.flowJob.jobStatus as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
